.movie-main {
    height: 88%;
    display: inline-block;
    margin: 10px;
    border-radius: 15px;
}
.movie-pic img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.movie-pic {
    height: 82%;
    width: 198px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #dbdada;
}
.name {
    margin: 0;
    padding: 4px;
    white-space: initial;
}

.name a {
    /* color: black; */
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .movie-main {
        height: 100%;
    }
}
