.loader {
    border-radius: 50%;
    border-top: 10px solid blue;
    border-right: 10px solid green;
    border-bottom: 10px solid red;
    border-left: 10px solid pink;
    border-top: 10px solid #3498db;
    width: 100px;
    height: 100px;
    margin: 200px auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.people-main {
    width: 100%;
    height: 70%;
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    background: #200122; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #6f0000,
        #200122
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.people-img {
    margin-top: 10px;
    width: 28%;
    height: 90%;
}

.people-img img {
    height: 100%;
    min-width: 60%;
    max-width: 100%;
    border-radius: 15px;
}

.people-info {
    width: 72%;
    text-align: left;
    height: 100%;
    padding: 5px;
}

.people-name {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}
.people-social {
    display: flex;
    justify-content: space-between;
    width: 15%;
}
.people-social svg {
    margin: 5px;
}
.people-social a {
    text-decoration: none;
    color: white;
}
.people-head {
    text-align: justify;
    color: white;
}
.people-head span {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.people-outer {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
}
.people-movie {
    width: 100%;
    height: 50px;
}

div .display-movie {
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 480px) {
    .people-main {
        height: 100%;
        overflow-y: scroll;
    }
    .people-img {
        width: 100%;
        height: 50%;
    }
    .people-info {
        width: 100%;
        height: 100%;
    }
}
